.footer-container {
  width: 100vw;
  padding: 42px 80px;
  background-color: black;

  &-2 {
    width: 1296px;
    max-width: 1296px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    margin: auto;

    .footer_content {
      width: 1296px;
      display: flex;
      justify-content: space-between;
      color: white;

      .footer_title_and_logo {
        display: flex;
        flex-direction: column;
        width: 375.83px;
        gap: 32px;

        .footer_title {
          display: flex;
          flex-direction: column;
          gap: 23.1px;

          .footer_logo {
            width: 100px;
            height: 50.1px;
          }

          .footer_contact-details {
            height: 55px;
            font-weight: 400;
            font-size: 16px;
            line-height: 27.2px;
            letter-spacing: 0;

            a {
              color: #FFF;
              text-decoration: none;
            }
          }
        }

        .footer_social-icon-list {
          display: flex;
          gap: 16px;

          .footer_social-media {
            width: 36px;
            height: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            border: 1px solid rgba(255,255,255,0.12);
            cursor: pointer;
          }
        }
      }

      .footer-list-wrapper {
        display: flex;
        width: 720.17px;
        gap: 90px;
        justify-content: end;
        height: fit-content;

        .footer-list_1 {
          display: none;
          flex-direction: column;
          width: 144.08px;
          gap: 15.8px;
        }

        .footer-list_2 {
          display: none;
          flex-direction: column;
          width: 378.17px;
          gap: 15.8px;
        }

        .footer-address_container {
          width: 252px;
          height: 98px;

          .footer-address {
            width: 218px;
            height: 75px;
            font-weight: 400;
            font-size: 16px;
            line-height: 159%;
            letter-spacing: 0;
            vertical-align: middle;
          }
        }
      }
    }

    .footer_copyright_block-wrapper {
      width: 1296px;
      padding-top: 32px;
      border-top: 1px solid rgba(255,255,255,0.12);

      .footer_copywrite-text {
        width: 426px;
        height: 28px;
        font-weight: 400;
        font-size: 16px;
        vertical-align: middle;
        color: #6b6b6b;
        margin: 0 auto;
      }
    }
  }

  @media (max-width: 1440px) {
    padding: 20px;

    &-2 {
      width: 100%;

      .footer_content {
        width: 100%;
      }

      .footer_copyright_block-wrapper {
        width: 100%;
      }
    }
  }

  @media (max-width: 768px) {
    padding: 44px 16px;
    &-2 {
      .footer_content {
        flex-direction: column;

        gap: 64px;

        .footer-list-wrapper {
          justify-content: start;
          width: 100%;

          .footer-address_container {
            width: 100%;
            .footer-address {
              width: 100%;
            }
          }
        }

        .footer_title_and_logo {
          width: 100%;
        }
      }

      .footer_copyright_block-wrapper {
        .footer_copywrite-text{ 
            width: 100%;
            text-align: center;
        }
      }
    }
  }
}
