.JobApplicationCardContainer {
  width: 604px;
  height: 102.98px;
  border-radius: 5px;
  background-color: #FAFAFA;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #000;
    transition: width 0.3s ease;
  }

  &:hover::after {
    width: 100%;
  }

  &-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 25.2px;
    letter-spacing: -0.5px;
    color: #1E1E1E;
    position: absolute;
    top: 14.5px;
    left: 15px;
  }

  &-time {
    position: absolute;
    top: 41.57px;
    left: 15px;
    width: 18px;
    height: 21px;
  }

  &-applicantNumber {
    font-size: 14px;
    line-height: 23.8px;
    color: #DF072E;
    position: absolute;
    top: 40.08px;
    left: 38px;
  }

  &-ArrowContainer {
    position: absolute;
    top: 19.48px;
    right: 15px;
    border-radius: 5px;

    .icon {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1000px;
      border: 1px solid #E3E5E5;
      cursor: pointer;
      transition: transform 0.3s ease;

      .arrow {
        filter: grayscale(100%) brightness(0%);
        width: 20px;
        height: 20px;
        transition: transform 0.3s ease;
      }
    }
  }

  &:hover .arrow {
    transform: rotate(-45deg);
  }

  @media (max-width: 1440px) {
    min-width: 400px;
    flex: 1;

    &-title {
      padding-right: 50px;
    }

    &-applicantNumber,
    &-time {
      top: 70px;
    }
  }

  @media (max-width: 400px) {
    min-width: 280px;
  }
}
