.LandingLoadingWrapper {
  margin-top: 100px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #df072e;
  font-size: 20px;
  font-weight: 600;
  gap: 20px;
}

.restSections {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 1400px) {
    padding: 0 30px;
  }

  @media (max-width: 768px) {
    padding: 0 16px;
  }
}
