.ClinicAdvantages-container {
  display: flex;
  flex-direction: column;
  width: 1280px;
  gap: 60px;
  margin-bottom: 80px;

  .ClinicAdvantages_header-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    .ClinicAdvantages_header {
      width: 628px;
      height: 44px;
      font-weight: 700;
      font-size: 36px;
      letter-spacing: -1px;
      text-align: center;
      vertical-align: middle;
    }

    .ClinicAdvantages_subtitle {
      width: 628px;
      height: 90px;
      font-size: 20px;
      line-height: 150%;
      letter-spacing: -1px;
      text-align: center;
      vertical-align: middle;
    }
  }

  .ClinicalAdvantages_list-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  @media (max-width: 1440px) {
    width: 100%;
    gap: 45px;

    .ClinicAdvantages_header-container {
        width: 100%;

        .ClinicAdvantages_header {
            width: 100%;
            font-weight: 700;
            font-size: 32px;
            line-height: 40px;
            height: min-content;
        }

         .ClinicAdvantages_subtitle {
            font-size: 16px;
            line-height: 24px;
            width: 100%;
            height: min-content;
         }
    }


    .ClinicalAdvantages_list-container {
      flex-direction: row;
      overflow-x: scroll;
      overflow-y: hidden;
      scrollbar-width: none; 
      gap: 16px;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
