.LoadingJobDetailsWrapper {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #df072e;
  font-size: 20px;
  font-weight: 600;
  gap: 20px;
  margin-top: 40px;
}

.JobDetailsWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  background-color: #f3f4f4;
  padding-bottom: 50px;

  .JobDetailsContent {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    background-color: #f3f4f4;
    width: 100%;

    .detailsContainer {
      display: flex;
      gap: 24px;
      width: 1280px;
      justify-content: space-between;;

      .left {
        display: flex;
        flex-direction: column;
      }

      .right {
        width: 200px;
      }
    }
  }

  @media (max-width: 1440px) {
    width: 100vw;
    .JobDetailsContent {
      width: 100%;
      padding: 0 30px;

      .detailsContainer {
        width: 100%;
        .left {
          width: 100%;
        }
        .right {
          width: 230px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .JobDetailsContent {
      .detailsContainer {
        flex-direction: column;

        .right {
          width: 100%;
        }
      }
    }
  }
}
