.card-container {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  padding: 20px;
  gap: 24px;
  background-color: #f3f4f4;
  flex: 1;
  min-width: 340px;
  .image {
    width: 50px;
    height: 50px;
  }

  .details-container {
    display: flex;
    flex-direction: column;
    gap: 9px;

    .title {
      font-weight: 600;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: -0.56px;
      display: flex;
      align-items: center;
      height: 29px;
    }

    .details {
      font-size: 15px;
      line-height: 22.5px;
    }
  }

  @media (max-width: 768px) {
    gap: 10px;
    .details-container {
      gap: 10px;
      .title {
        font-weight: 400;
      }
    }
  }
}
