.invitation_container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 1280px;
  color: #1e1e1e;
  margin: 80px 0;

  .header {
    width: 628px;
    height: 96px;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: -1px;
  }

  .details {
    display: flex;
    gap: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -1px;

    .detail {
      width: 628px;
      height: 180px;
    }
  }

  @media (max-width: 1440px) {
    width: 100%;

    .header {
      width: 100%;
      height: min-content;
    }

    .details {
      justify-content: space-between;

      .detail {
        height: min-content;
      }
    }
  }

  @media (max-width: 768px) {
    .header {
        line-height: 40px;
    }

    .details {
        flex-direction: column;

        .detail {
            width: 100%;
            font-size: 16px;
            line-height: 25px;
        }
    }
  }
}
