.join-us_container {
  display: flex;
  width: 1280px;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 60px;

  .img-container {
    width: 1280px;
    height: 685px;
    position: relative;
    color: white;

    .dctr-img {
      width: 1280px;
      height: 685px;
      border-radius: 5px;
      position: absolute;
      top: 0;
      left: 0;
    }

    .text-and-button-container {
      display: flex;
      flex-direction: column;
      width: 617px;
      position: absolute;
      top: 308px;
      left: 60px;
      gap: 32px;
      z-index: 10;

      .text {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .header {
          width: 473px;
          height: 135px;
          font-size: 56px;
          line-height: 67.2px;
          letter-spacing: -1px;
        }

        .subtitle {
          font-weight: 500;
          font-size: 20px;
          line-height: 150%;
          letter-spacing: -0.5px;
          width: 498px;
        }
      }

      .button-container {
        width: 183px;
        border-radius: 7px;
        text-decoration: none;
      }
    }
  }

  .join-us_cards-container {
    display: flex;
    justify-content: space-between;
    gap: 11.5px;
  }

  @media (max-width: 1440px) and (min-width: 1245px) {
    align-items: center;
  }

  @media (max-width: 1440px) {
    width: 100%;
    overflow-x: hidden;
    background-position: center;

    .join-us_cards-container {
        flex-wrap: wrap;
    }

     .img-container {
      .dctr-img {
        width: 100%;
        object-fit: cover;;
      }
     }
  }

  @media (max-width: 768px) {
    .img-container {
      display: flex;
      align-items: end;
      justify-content: center;
      width: 100%;
      border-radius: 12px;
      padding: 24px 16px;
      .text-and-button-container {
        position: static;

        .text {
          .header {
            font-size: 32px;
            font-weight: 900;
            line-height: 40px;
            height: min-content;
            width: 100%;
            text-align: center;
          }

          .subtitle {
            text-align: center;
            line-height: 24px;
            font-size: 16px;
            width: 100%;
          }
        }

        .button-container {
            width: 100%;
        }
      }
    }
  }
}
