* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
  scroll-behavior: smooth;
  letter-spacing: 0;
  font-display: swap,
}

#root {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}