.JobDetailsHeroContainer {
  width: 1400px;
  height: 400px;
  border-radius: 16px;
  overflow: hidden;
  position: relative;

  .hero-img-background {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 40%;

    .textContainer {
      display: flex;
      flex-direction: column;
      top: 204px;
      left: 60px;
      gap: 40px;
      z-index: 20;
      color: #fff;
      position: absolute;

      .heading {
        display: flex;
        flex-direction: column;
        width: 628px;
        gap: 16px;

        .main-heading {
          font-weight: 600;
          font-size: 64px;
          letter-spacing: -1px;
          white-space: nowrap;
        }

        .subheading {
          font-size: 16px;
          line-height: 24px;
          opacity: 0.9;
          width: 495px;
        }
      }
    }
  }

  @media (max-width: 1440px) {
    width: 100%;

    .hero-img-background {
      .textContainer {
        .heading {
          .main-heading {
            font-size: 40px;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    height: 540px;

    .hero-img-background {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 24px 16px;
      .textContainer {
        position: static;

        .heading {
          width: 100%;
          .main-heading {
            width: 100%;
            white-space: wrap;
          }
        }
      }
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      box-shadow: -1px -101px 145px 15px rgba(0, 0, 0, 1) inset;
      -webkit-box-shadow: -1px -101px 145px 15px rgba(0, 0, 0, 1) inset;
      -moz-box-shadow: -1px -101px 145px 15px rgba(0, 0, 0, 1) inset;

      pointer-events: none;
    }
  }
}
