.JobDetailsHeroContainer {
  width: 100%;
  height: 484px;
  border-radius: 16px;
  overflow: hidden;
  position: relative;

  .hero-img-background {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 40%;

    .textContainer {
      display: flex;
      flex-direction: column;
      gap: 40px;
      z-index: 20;
      color: #F1F1F2;
      position: absolute;
      bottom: 2.5rem;
      padding: 12px 30px 30px;

      .heading {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .main-heading {
          font-weight: 400;
          font-size: 60px;
          letter-spacing: -1px;
        }

        .subheading {
          font-size: 20px;
          line-height: 24px;
          opacity: 0.9;
          width: 495px;
        }
      }
    }
  }

  @media (max-width: 1440px) {
    width: 100vw;
  }

  @media (max-width: 768px) {
    height: 540px;

    .hero-img-background {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 24px 16px;
      .textContainer {
        position: static;

        .heading {
          width: 100%;
          .main-heading {
            width: 100%;
            white-space: wrap;
            font-size: 36px;
          }
        }
      }
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      box-shadow: -1px -101px 145px 15px rgba(0, 0, 0, 1) inset;
      -webkit-box-shadow: -1px -101px 145px 15px rgba(0, 0, 0, 1) inset;
      -moz-box-shadow: -1px -101px 145px 15px rgba(0, 0, 0, 1) inset;

      pointer-events: none;
    }
  }
}
