.FieldSearchContainer {
  display: flex;
  flex-direction: column;
  width: 1280px;
  gap: 32px;
  color: #1e1e1e;
  margin-bottom: 80px;

  &-header {
    font-weight: 500;
    font-size: 48px;
    line-height: 67.2px;
    letter-spacing: -1%;
    vertical-align: middle;
  }

  &-fieldsContainer {
    display: flex;
    width: 100%;
    padding-bottom: 36px;
    gap: 9px;
    border-bottom: 1px solid #e3e5e5;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .fieldContainer {
      border-radius: 5px;
      padding: 11px 22px 12.19px;
      cursor: pointer;
      border: 1px solid #e3e5e5;
      transition: 0.5s ease-in-out;
      
      .field {
        font-weight: 600;
        font-size: 16px;
        line-height: 27.2px;
        vertical-align: middle;
        text-align: center;
      }
    }
    .selected {
      background-color: #df072e;
      color: white;
      border: 0;
    }
  }

  .block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 1250.53px;
    margin-bottom: 16px;;;

    &-header {
      width: 100%;
      font-weight: 500;
      font-size: 36px;
      line-height: 50.4px;
      letter-spacing: -1px;
      vertical-align: middle;
    }

    &-allDetailsContainer {
      display: flex;
      flex-direction: column;
      gap: 16px;
      font-size: 14px;
      line-height: 23.8px;

      .invitation {
        font-weight: 700;
        vertical-align: middle;
      }

      .detailsContainer {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .header {
          font-weight: 700;
        }

        .highlight {
          font-weight: 600;
        }
      }

      .explanation {
        font-weight: 700;
      }
    }
  }

  .JobApplicationCards-Container {
    display: flex;
    width: 1260px;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: space-between;
  }

  .noteContainer {
    border-radius: 12px;
    padding: 20px;
    display: flex;
    gap: 12px;
    background-color: #fff3e6;

    .note {
      width: 1204px;
      font-size: 16px;
      line-height: 150%;
      color: #dd790c;
    }
  }

  @media (max-width: 1440px) {
    width: 100%;

    &-header {
      font-size: 32px;
      line-height: 40px;
      font-weight: 700;
    }

    .block {
      width: 100%;

      &-header {
        font-size: 32px;
        line-height: 40px;
      }
    }

    .fieldContainer {
      min-width: 270px;
    }

    .JobApplicationCards-Container {
      width: 100%;
    }
  }
}
